<% layout('layouts/boilerplate') %>
<%- include('./partials/navbar') %>

    <div class="row mx-auto alert alert-danger" role="alert">
        <h1>Error aa gaya!! Bhaago!!</h1>
        <%= err %> 
    </div>

</body>
</html>